thead{
    background-color: gray;
    border-bottom-style: double;
}

h2{
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-decoration-style:initial;
}

.center {
    margin: auto;
    width: 90%;
    /* border: 3px solid green; */
    padding: 10px;
  }