<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="background-color: #006064; height: 80px;">
        <!-- <img src="https://img.icons8.com/ios/50/000000/adoption.png"/> -->
    <img src="https://img.icons8.com/ios-filled/50/000000/adoption.png" style="margin: 5px; height: 30px; margin-bottom: 15px;"/>
     <h1> <a class="navbar-brand" style=" margin-bottom: 5px;color:antiquewhite; font-size:xx-large ;font-style: italic; font-family: Arial, Helvetica, sans-serifs;" href="#"><b>Child Adoption System</b></a></h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
            <li>
                <a class="nav-link" id="nav" routerLink="/home" style="font-size: 1.250em ;color: black;">Home</a>
            </li>  
            <li>
                <a class="nav-link" id="nav" routerLink="/contact" style="font-size: 1.250em ;color: black;">Contact</a>
            </li>
            <li>
                <a class="nav-link" id="nav" routerLink="/about" style="font-size: 1.250em ;color: black;">About</a>
            </li>
            <li>
                <a class="nav-link" id="nav" routerLink="/news" style="font-size: 1.250em ;color: black;">News</a>
            </li>
            <li>
                <a class="nav-link" id="nav" routerLink="/faq" style="font-size: 1.250em ;color: black;">FAQ</a>
            </li>
        </ul>
        
        </div>
        <!-- <div class="float-right">      
            <button (click)="onLogout()" style="background-color: gray;"  class="btn btn-success btn-lg float-right" type="submit">Logout</button>
        </div> -->
    </div>
</nav>

<div class="container" style="background-image: url('/home/sunbeam/Documents/Project/Final Project/Child_Adoption_System_SourceCode_FrontEnd/images/donorregistration.jpeg');">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">      
            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-title">
                    Child Registration Form
                </div>
                <div class="col-lg-12 login-form">
                    <form>
                        <div class="form-group">
                            <label class="form-control-label float-left" style="font-size: 15px;">Name</label>
                            <input  [(ngModel)]="child.name" name="name" type="text" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" style="font-size: 15px;">Birth Date</label>
                            <input [(ngModel)]="child.birthDate" name="birthdate" type="date" class="form-control" style="height: 45px;" required>
                        </div>
                        <br>
                        <div class="form-group float-left">
                            <label class="form-control-label" style="font-size: 15px;">Age</label>
                            <input  [(ngModel)]="child.age" name="age" type="number" class="form-control" style="height: 45px;" required>
                        </div>
                        <div class="form-group float-right">
                            <label class="form-control-label" style="font-size: 15px;">Weight</label>
                            <input [(ngModel)]="child.weight" name="weight" type="number" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-left">
                            <label class="form-control-label" style="font-size: 15px;">Height</label>
                            <input  [(ngModel)]="child.height" name="height" type="number" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-right">
                            <label class="form-control-label" style="font-size: 15px;">HB</label>
                            <input  [(ngModel)]="child.hb" name="hb" type="number" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-left">
                            <label class="form-control-label" style="font-size: 15px;">Gender</label>
                            <input  [(ngModel)]="child.gender" name="gender" type="text" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-right">
                            <label class="form-control-label" style="font-size: 15px;">Blood Group</label>
                            <input [(ngModel)]="child.bloodGroup" name="bloodgroup" type="text" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-left">
                            <label class="form-control-label" style="font-size: 15px;">Mental Health</label>
                            <input [(ngModel)]="child.mentalHealthStatus" name="mentalhealth" type="text" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-right">
                            <label class="form-control-label" style="font-size: 15px;">Physical Health</label>
                            <input [(ngModel)]="child.physicalHealthStatus" name="physicalhealth" type="text" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-left">
                            <label class="form-control-label" style="font-size: 15px;">Degree</label>
                            <input [(ngModel)]="child.degree" name="degree" type="text" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-right">
                            <label class="form-control-label" style="font-size: 15px;">Institute</label>
                            <input [(ngModel)]="child.institute" name="institute" type="text" class="form-control" style="height: 45px;">
                        </div>

                        <div class="col-lg-12 loginbttm" style="margin-left: 55px;">
                        <div class="col-lg-6 login-btm login-button" style="margin-bottom: 15px;">
                            <button type="submit" (click)="onRegister()" class="btn btn-outline-primary">Register</button>
                        </div>                    
                        </div>
                    </form>
                </div>
            </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>
</div>



<!-- 
    name : String;
	birthDate : Date;
	age : Number;
    gender : String;
    
	image : String;
	isAdopted : Boolean;
    report : Boolean;
    
	weight : Number;
    height : Number;
	bloodGroup : String;
	hb : Number;
	mentalHealthStatus : String;
	physicalHealthStatus : String;
	degree : String;
	institute : String;
 -->
  