<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="background-color: #006064; height: 80px;">
        <!-- <img src="https://img.icons8.com/ios/50/000000/adoption.png"/> -->
    <img src="https://img.icons8.com/ios-filled/50/000000/adoption.png" style="margin: 5px; height: 30px; margin-bottom: 15px;"/>
     <h1> <a class="navbar-brand" style=" margin-bottom: 5px;color:antiquewhite; font-size:xx-large ;font-style: italic; font-family: Arial, Helvetica, sans-serifs;" href="#"><b>Child Adoption System</b></a></h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
            <li>
                <a class="nav-link" id="nav" routerLink="/home" style="font-size: 1.250em ;color: black;">Home</a>
            </li>  
            <li>
                <a class="nav-link" id="nav" routerLink="/contact" style="font-size: 1.250em ;color: black;">Contact</a>
            </li>
            <li>
                <a class="nav-link" id="nav" routerLink="/about" style="font-size: 1.250em ;color: black;">About</a>
            </li>
            <li>
                <a class="nav-link" id="nav" routerLink="/news" style="font-size: 1.250em ;color: black;">News</a>
            </li>
            <li>
                <a class="nav-link" id="nav" routerLink="/faq" style="font-size: 1.250em ;color: black;">FAQ</a>
            </li>
        </ul>
        
        </div>
        <!-- <div class="float-right">      
            <button (click)="onLogout()" style="background-color: gray;"  class="btn btn-success btn-lg float-right" type="submit">Logout</button>
        </div> -->
    </div>
</nav>

<div class="container" style="background-image: url('/home/sunbeam/Documents/Project/Final Project/Child_Adoption_System_SourceCode_FrontEnd/images/donorregistration.jpeg');">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">      
            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-title">
                    Adoptee Registration Form
                </div>
                <div class="col-lg-12 login-form">
                    <form>
                        <div class="form-group">
                            <label class="form-control-label float-left" style="font-size: 15px;">Name</label>
                            <input  [(ngModel)]="adoptee.name" name="name" type="text" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" style="font-size: 15px;">Password</label>
                            <input [(ngModel)]="adoptee.password" name="password" type="password" class="form-control" style="height: 45px;" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="form-control-label" style="font-size: 15px;">Email</label>
                            <input  [(ngModel)]="adoptee.email" name="email" type="email" class="form-control" style="height: 45px;" required>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" style="font-size: 15px;">Mobile Number</label>
                            <input [(ngModel)]="adoptee.mobile" name="mobile" type="number" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-left">
                            <label class="form-control-label" style="font-size: 15px;">Gender</label>
                            <input  [(ngModel)]="adoptee.gender" name="gender" type="text" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-right">
                            <label class="form-control-label" style="font-size: 15px;">Marital Status</label>
                            <input  [(ngModel)]="adoptee.maritalStatus" name="maritalStatus" type="text" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" style="font-size: 15px;">No of Biological Children</label>
                            <input  [(ngModel)]="adoptee.noOfBiologicalChildren" name="noOfBiologicalChildren" type="number" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" style="font-size: 15px;">No of Adopted Children</label>
                            <input  [(ngModel)]="adoptee.noOfAdoptedChildren" name="noOfAdoptedChildren" type="number" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" style="font-size: 15px;">Annual Income</label>
                            <input  [(ngModel)]="adoptee.annualIncome" name="annualIncome" type="number" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-left">
                            <label class="form-control-label" style="font-size: 15px;">City</label>
                            <input [(ngModel)]="adoptee.city" name="city" type="text" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-right">
                            <label class="form-control-label" style="font-size: 15px;">State</label>
                            <input  [(ngModel)]="adoptee.state" name="state" type="text" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-left">
                            <label class="form-control-label" style="font-size: 15px;">Pincode</label>
                            <input [(ngModel)]="adoptee.pincode" name="pincode" type="text" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group float-right">
                            <label class="form-control-label" style="font-size: 15px;">Reason</label>
                            <input [(ngModel)]="adoptee.reason" name="reason" type="text" class="form-control" style="height: 45px;">
                        </div>

                        <div class="col-lg-12 loginbttm" style="margin-left: 50px;">
                        <div class="col-lg-6 login-btm login-button" style="margin-bottom: 15px;">
                            <button type="submit" (click)="onRegister()" class="btn btn-outline-primary">Register</button>
                        </div>                    
                        </div>
                    </form>
                </div>
            </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>
</div>

<!-- 
    name : String;
	password : String;
	email : String;
    mobile : String;
    
    gender : String;
    
	maritalStatus : String;
	noOfBiologicalChildren : Number;
    noOfAdoptedChildren : Number;
    
	reason : String;
	city : String;
	state : String;
    pincode : String;
    
	annualIncome : Number;
 -->


  