<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="background-color: #006064; height: 80px;">
        <!-- <img src="https://img.icons8.com/ios/50/000000/adoption.png"/> -->
    <img src="https://img.icons8.com/ios-filled/50/000000/adoption.png" style="margin: 5px; height: 30px; margin-bottom: 15px;"/>
     <h1> <a class="navbar-brand" style=" margin-bottom: 5px;color:antiquewhite; font-size:xx-large ;font-style: italic; font-family: Arial, Helvetica, sans-serifs;" href="#"><b>Child Adoption System</b></a></h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
            <li>
                <a class="nav-link" id="nav" routerLink="/home" style="font-size: 1.250em ;color: black;">Home</a>
            </li>  
            <li class="nav-item" style="margin-left: 10px;"> 
                <div ngbDropdown class="d-inline-block">
                <a class="nav-link btn btn-primary text-black" style="background-color: gray;" id="dropdownBasic1" ngbDropdownToggle>Login</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a ngbDropdownItem routerLink="/adminlogin">Admin</a>
                    <a ngbDropdownItem routerLink="/donorlogin">Donor</a>
                    <a ngbDropdownItem routerLink="/adopteelogin">Adoptee</a>
                </div>
                </div>
            </li> 
            <li class="nav-item" style="margin-left: 10px;"> 
                <div ngbDropdown class="d-inline-block">
                <a class="nav-link btn btn-primary text-black" style="background-color: gray;" id="dropdownBasic2" ngbDropdownToggle>Register</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a ngbDropdownItem routerLink="/donorregister">Donor</a>
                    <a ngbDropdownItem routerLink="/childregister">Children</a>
                    <a ngbDropdownItem routerLink="/adopteeregister">Adoptee</a>
                </div>
                </div>
            </li> 
            <li>
                <a class="nav-link" id="nav" routerLink="/contact" style="font-size: 1.250em ;color: black;">Contact</a>
            </li>
            <li>
                <a class="nav-link" id="nav" routerLink="/about" style="font-size: 1.250em ;color: black;">About</a>
            </li>
            <li>
                <a class="nav-link" id="nav" routerLink="/news" style="font-size: 1.250em ;color: black;">News</a>
            </li>
            <li>
                <a class="nav-link" id="nav" routerLink="/faq" style="font-size: 1.250em ;color: black;">FAQ</a>
            </li>
        </ul>
        
        </div>
        <div class="float-right">      
            <button (click)="onLogout()" style="background-color: gray;"  class="btn btn-success btn-lg float-right" type="submit">Logout</button>
        </div>
    </div>
</nav>

  
<!-- <router-outlet></router-outlet> -->
  
 