<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="background-color: #006064; height: 80px;">
        <!-- <img src="https://img.icons8.com/ios/50/000000/adoption.png"/> -->
    <img src="https://img.icons8.com/ios-filled/50/000000/adoption.png" style="margin: 5px; height: 30px; margin-bottom: 15px;"/>
     <h1> <a class="navbar-brand" style=" margin-bottom: 5px;color:antiquewhite; font-size:xx-large ;font-style: italic; font-family: Arial, Helvetica, sans-serifs;" href="#"><b>Child Adoption System</b></a></h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
            <li>
                <a class="nav-link" id="nav" routerLink="/home" style="font-size: 1.250em ;color: black;">Home</a>
            </li>  
            <li>
                <a class="nav-link" id="nav" routerLink="/contact" style="font-size: 1.250em ;color: black;">Contact</a>
            </li>
            <li>
                <a class="nav-link" id="nav" routerLink="/about" style="font-size: 1.250em ;color: black;">About</a>
            </li>
            <li>
                <a class="nav-link" id="nav" routerLink="/news" style="font-size: 1.250em ;color: black;">News</a>
            </li>
            <li>
                <a class="nav-link" id="nav" routerLink="/faq" style="font-size: 1.250em ;color: black;">FAQ</a>
            </li>
        </ul>
        
        </div>
        <div class="float-right">      
            <button (click)="onLogout()" style="background-color: gray;"  class="btn btn-success btn-lg float-right" type="submit">Logout</button>
        </div>
    </div>
</nav>

<!-- Login form -->

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">      
            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-title">
                    SIGNIN
                </div>
                <div class="col-lg-12 login-form">
                    <form>
                        <div class="form-group">
                            <label class="form-control-label" style="font-size: 15px;">Email</label>
                            <input  [(ngModel)]="email" name="email" type="email" class="form-control" style="height: 45px;">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" style="font-size: 15px;">Password</label>
                            <input [(ngModel)]="password" name="password" type="password" class="form-control" style="height: 45px;">
                        </div>

                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-button" style="margin-bottom: 15px; padding-left: 60px;">
                                <button type="submit" (click)="onSignin()" style="margin-left: 150px;" class="btn btn-outline-primary">LOGIN</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>
</div>

 
<!-- <router-outlet></router-outlet> -->
  
 